@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiPaginationItem-root.Mui-selected {
    background-color: #6ee7b7 !important;
    color: #065f46 !important;
}

.MuiPaginationItem-root.Mui-selected:hover {
    background-color: #6ee7b7 !important;
    color: #065f46 !important;
}
